@tailwind base;
@tailwind components;
@tailwind utilities;

.yellow-color{
    background-color: #ffda00;
}

.text-color-yellow{
    text-decoration-color: #ffda00;
    text-decoration-thickness: 0.3rem;
}
